{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h3>Welcome to HTML Parser</h3>

    <div class="row">
      <div class="col-md-8">
        {% if url_parse_requests %}
          <center><h4>Request History (Top 5 requested URL)</h></center>
          <table class="table table-striped" id="requestHistory">
            <thead>
              <tr>
                <th>URL</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              {% for url_parse_request in url_parse_requests %}
                <tr>
                  <td>
                    {{ url_parse_request.url }}
                  </td>
                  <td>
                    {{ url_parse_request.count }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>

    <form action="{{ url_for('url_parsing.url_parsing_detail') }}" method="post" class="form-inline">
      <div>
        <br>
        <div class="form-group">
          <label for="URLInput">{{ form.url.label }}</label>
          <input type="text" name="url" class="form-control" id="URLInput" placeholder="URL">
          <span id="helpBlock" class="help-block">Enter the URL of a page to fetch</span>
        </div>
        {% if form.url.errors %}
          <ul>
            <li><p class="bg-danger">{{ form.url.errors[0] }}</p></li>
          </ul>
        {% endif %}
        {{ form.csrf_token }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="row">
      <div class="col-md-8">
        <br>
        {% if parser %}
          <h4>HTML Source</h>
          {% if parser.is_successfull %}
            <pre id="sourceData">{{ parser.data }}</pre>
          {% else %}
            <p class="bg-danger"> Sorry failed to fetch and parse the URL source. Please try a different URL.</p>
          {% endif %}
        {% endif %}
      </div>
      <div class="col-md-4">
        {% if parser %}
          {% if parser.is_successfull %}
            <h4>Summary</h>
            <table class="table table-hover" id="summaryTable">
              <thead>
                <tr>
                  <th>Tag</th>
                  <th>Count</th>
                </tr>
              </thead>
              <tbody>
                {% for tag, count in parser.summary.items() %}
                  <tr>
                    <td>
                      {{ tag }}
                    </td>
                    <td>
                      {{ count }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/summary_table.js') }}"></script>

{% endblock content %}
